<div class="row" id="mainBtn">

        <div class="col-6 right">
            <form action="/Report Accident" method="get">
            <button class="btn" type="submit">{{translation.Tracking}}</button>
            </form>
        </div>